@tailwind base;
@tailwind components;
@tailwind utilities;
/*rgb(240, 194, 171)*/

.app {
  background-color: #71d1a9f1;
  width: 100%;
  height: 100vh;
  padding: 5;
  overflow-x: hidden;
}
/*(113, 209, 169, 0.945)*/
